
*.iml
.gradle
.idea
.kotlin
.DS_Store
build/*
!build/db/
*/build/*
!*/build/db/
magicindexer/build/*
!magicindexer/build/db/
captures
.externalNativeBuild
.cxx
local.properties
xcuserdata/
Pods/
*.jks
*.gpg
*yarn.lock
