
*.iml
.gradle
.idea
.kotlin
.DS_Store
build
*/build
!magicindexer/build/db/
!magicindexer/build/db/lexical.db
captures
.externalNativeBuild
.cxx
local.properties
xcuserdata/
Pods/
*.jks
*.gpg
*yarn.lock
